@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap");
/* header is #fff section is #eee  --black: #01050e;*/

* {
  font-family: "Nunito", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

:root {
  --green: #027532;
  --black: #01050e;
  --white: #eee;
  --light-color: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --testcolor: #242323;
  --testcolor2: #141313;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

body {
  background: var(--testcolor);
}

section {
  padding: 2rem 9%;
}

a {
  text-decoration: none;
}

/* header / footer */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--testcolor2);
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

.header .logo i {
  color: var(--green);
}

.header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #666;
}

.header .navbar a.active,
.header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

.header .navbar a.notactive {
  color: #fff;
  background: var(--green);
  display: none;
}

.header .icons i,
.header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

.header .icons i:hover,
.header .icons a:hover {
  color: #fff;
  transform: rotate(360deg);
  background: var(--green);
}

.header .icons a.active {
  background: var(--green);
}

.header .icons {
  display: flex;
}

.header .icons #menu-bars {
  display: none;
}

.footer {
  display: flex;
  justify-content: center;
  background: green;
}

.footer-wrapper {
  width: 80%;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .footer-container .container h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--white);
}

.footer .footer-container .container a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.footer .footer-container .container a:hover {
  color: var(--green);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: var(--green);
}

/* Search bar */

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--green);
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

/* landing page */

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: var(--green);
  letter-spacing: 0.1rem;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image {
  flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
  width: 100%;
}

.home .home-slider .slide .content span {
  color: var(--green);
  font-size: 2.5rem;
}

.home .home-slider .slide .content h3 {
  color: var(--white);
  font-size: 7rem;
}

.home .home-slider .slide .content p {
  color: var(--light-color);
  font-size: 2.2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.swiper-pagination-bullet-active {
  background: var(--green);
}

/* login page */

.login {
  background-image: url(../images/loginachtergrond.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.login {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  place-content: center;
}

.login .container {
  display: flex;
  height: 320px;
  width: 640px;
}

.login .container .left {
  background: var(--testcolor2);
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

.login .container .right {
  background: var(--testcolor);
  box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
  color: #f1f1f2;
  position: relative;
  width: 50%;
}

.login .container .login-text {
  color: var(--white);
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}

.login .container .eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}

svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
label {
  color: #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: transparent;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner {
  border: 0;
}
#submit {
  color: #707075;
  margin-top: 45px;
  transition: color 300ms;
}
#submit:hover {
  color: #f2f2f2;
}
#submit:focus {
  color: #f2f2f2;
}
#submit:active {
  color: #d0d0d2;
}

/* menu kaart */

.menu {
  background-image: url(../images/loginachtergrond.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu .menu-wrapper {
  width: 100%;
  padding-top: 8rem;
}

.menu .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}

.menu .container .box {
  background: var(--testcolor);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.menu .container .box:hover {
  transform: scale(1.1);
}

.menu .container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu .container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.menu .container .box .content {
  padding: 2rem;
  padding-top: 0;
}

.menu .container .box .content h3 {
  color: var(--white);
  font-size: 2.5rem;
}

.menu .container .box .content p {
  color: var(--light-color);
  font-size: 1.6rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu .container .box .content .price {
  color: var(--green);
  margin-left: 1rem;
  font-size: 2.5rem;
}

/* reserveren */

.reserveren {
  background-image: url(../images/loginachtergrond.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.container {
  background: var(--testcolor2);
  box-shadow: 0px 0px 40px 16px rgb(0 0 0 / 22%);
  border-radius: 20px;
  padding: 10px;
}

.reserveren .reserveren-wrapper {
  width: 80%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserveren .elem-group {
  margin: 30px 0;
}

.reserveren .elem-group.inlined {
  width: 100%;
  margin-left: 10px;
}

.reserveren .date {
  display: flex;
}

.reserveren label {
  display: block;
  padding-bottom: 10px;
  font-size: 1.25em;
}

.reserveren input {
  border-bottom: 3px;
  border-style: solid;
  border-image: linear-gradient(to right, green, var(--green)) 1;
  box-sizing: border-box;
  font-size: 1.25em;
  width: 100%;
  padding: 10px;
}

.reserveren input:focus {
  border-image: linear-gradient(to right, #03ff03, #4ee44e) 1;
}

.reserveren elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .header .icons #menu-bars {
    display: block;
  }
  .header .nav-bar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--testcolor2);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .nav-bar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--testcolor2);
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  .login {
    height: 100vh;
  }

  .login .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }

  .login .container .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 260px;
  }

  .login .container .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

@media screen and (max-width: 500px) {
  .reserveren .reserveren-wrapper {
    width: 100%;
  }
  html {
    font-size: 55%;
  }
}

#show-up {
  display: none;
}
